---
import ContentSection from "~/components/content-section.astro";
import CompatibilityList from "~/components/compatibility-list.astro";

const frameworks = [
  {
    title: "Linkedin",
    icon: "mdi:linkedin",
    url: "https://linkedin.com",
  },
  {
    title: "Github",
    icon: "mdi:github",
    url: "https://github.com/",
  },
  {
    title: "Stack Overflow",
    icon: "mdi:stackoverflow",
    url: "https://stackoverflow.com/",
  },
  {
    title: "Web personal",
    icon: "mdi:globe",
    url: "https://selfcommit.dev/",
  },
  {
    title: "Curriculum Vitae",
    icon: "mdi:file-pdf-box",
    url: "#",
  }
];
---

<ContentSection title="Validaciones" id="validaciones">
  <Fragment slot="lead">
    Selfcommit <span class="text-primary">valida</span> que cumplas todos los 
    requisitos mínimos para unas <span class="text-primary">mejores oportunidades</span> en el mercado laboral.

  </Fragment>
  <CompatibilityList
    title="Validaciones"
    data={frameworks}
    url="#todo"
  />
</ContentSection>
