---
import { Icon } from "astro-icon";
import HeroImage from "~/components/hero-image.astro";

const links = [
  {
    url: "https://github.com/self-commit",
    description: "Selfcommit en GitHub",
    icon: "fa-brands:github-alt",
  },
  {
    url: "https://discord.gg/grHerHNz",
    description: "Selfcommit en Discord",
    icon: "fa-brands:discord",
  },
  {
    url: "https://twitter.com/selfcommit",
    description: "Selfcommit en Twitter",
    icon: "fa-brands:twitter",
  },
];
---

<footer class="h-64  bg-gray-800">
  <div class="flex container mx-auto pt-24 justify-between">
      <p class="text-sm text-white">© Selfcommit.dev</p>
      <ul class="relative grid grid-cols-2 gap-4 sm:grid-cols-4">
        {
          links.map((link) => (
            <li>
              <a
                class="flex items-center justify-center w-16 h-16 p-4"
                href={link.url}
              >
                <span class="sr-only">{link.description}</span>
                <Icon class="h-full text-white" name={link.icon} />
              </a>
            </li>
          ))
        }
      </ul>
  </div>
</footer>
